button{
    color:white;
    font-size:.5in;
    border-color:transparent;
    background-color:transparent;
    outline-style:solid;
    outline-color:white;
    margin-left:.2in;
   } 
   a{
    color:white;
   }
   .MainTitle {
     text-align:center; 
     color:#ffffff; 
     font-style:italic; 
     font-family:'Times New Roman', Times, serif; 
     padding-top: 1in; 
     padding-bottom:1in;
     font-size:2in;
}
.SubMainTitle {
     text-align:center; 
     color:#ffffff; 
     font-style:italic; 
     font-family:'Times New Roman', Times, serif; 
     padding-top: 1in; 
     font-size:1in;
}